n8n-feedback-workflow.json
{
  "name": "Qoryva App Feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qoryva-app-feedback",
        "options": {}
      },
      "id": "c1a2b3d4-e5f6-7890-a1b2-c3d4e5f60001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.body ?? $json;\n\nconst appName      = d.appName      || '錢錢管家';\nconst appVersion   = d.appVersion   || '?';\nconst category     = d.category     || 'General';\nconst message      = d.message      || '';\nconst contactEmail = d.contactEmail || '';\nconst platform     = d.platform     || '';\nconst osVersion    = d.osVersion    || '';\nconst deviceModel  = d.deviceModel  || '';\nconst sourcePage   = d.sourcePage   || '';\nconst hasImages    = d.hasImages    || 'false';\nconst createdAt    = d.createdAt    || new Date().toISOString();\n\nconst subject = '[' + appName + ' Feedback] ' + category + ' — v' + appVersion;\nconst safeMsg = message.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\nconst html = '<div style=\"font-family:sans-serif;max-width:600px\">'\n  + '<h2 style=\"color:#C59B63;border-bottom:2px solid #C59B63;padding-bottom:8px\">App Feedback — ' + appName + '</h2>'\n  + '<table cellpadding=\"10\" cellspacing=\"0\" style=\"width:100%;border-collapse:collapse\">'\n  + '<tr style=\"background:#f0f0f0\"><th align=\"left\" style=\"width:130px\">欄位</th><th align=\"left\">內容</th></tr>'\n  + '<tr><td><b>類別</b></td><td>' + category + '</td></tr>'\n  + '<tr style=\"background:#fafafa\"><td><b>訊息</b></td><td style=\"white-space:pre-wrap\">' + safeMsg + '</td></tr>'\n  + '<tr><td><b>聯絡信箱</b></td><td>' + (contactEmail || '未提供') + '</td></tr>'\n  + '<tr style=\"background:#fafafa\"><td><b>App 版本</b></td><td>' + appName + ' v' + appVersion + '</td></tr>'\n  + '<tr><td><b>平台</b></td><td>' + platform + ' ' + osVersion + '</td></tr>'\n  + '<tr style=\"background:#fafafa\"><td><b>裝置</b></td><td>' + deviceModel + '</td></tr>'\n  + '<tr><td><b>來源頁面</b></td><td>' + sourcePage + '</td></tr>'\n  + '<tr style=\"background:#fafafa\"><td><b>附圖</b></td><td>' + (hasImages === 'true' ? 'Yes' : 'No') + '</td></tr>'\n  + '<tr><td><b>提交時間</b></td><td>' + createdAt + '</td></tr>'\n  + '</table></div>';\n\nreturn [{ json: { emailSubject: subject, emailHtml: html } }];"
      },
      "id": "c1a2b3d4-e5f6-7890-a1b2-c3d4e5f60002",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@qoryva.com",
        "toEmail": "admin@qoryva.com",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "c1a2b3d4-e5f6-7890-a1b2-c3d4e5f60003",
      "name": "Send Feedback Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Format Email", "type": "main", "index": 0}]]
    },
    "Format Email": {
      "main": [[{"node": "Send Feedback Email", "type": "main", "index": 0}]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
