n8n-feedback-workflow.json
{
  "name": "Qoryva App Feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qoryva-app-feedback",
        "options": {}
      },
      "id": "c1a2b3d4-e5f6-7890-a1b2-c3d4e5f60001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.body ?? $json;\n\nconst fAppName      = String(d.appName      || '錢錢管家');\nconst fAppVersion   = String(d.appVersion   || '?');\nconst fCategory     = String(d.category     || 'General');\nconst fMsg          = String(d.message      || '');\nconst fEmail        = String(d.contactEmail || '');\nconst fPlatform     = String(d.platform     || '');\nconst fOsVersion    = String(d.osVersion    || '');\nconst fDeviceModel  = String(d.deviceModel  || '');\nconst fSourcePage   = String(d.sourcePage   || '');\nconst fHasImages    = String(d.hasImages    || 'false');\nconst fCreatedAt    = String(d.createdAt    || new Date().toISOString());\n\nconst subject = '[' + fAppName + ' Feedback] ' + fCategory + ' — v' + fAppVersion;\n\nconst body = '=== ' + fAppName + ' User Feedback ===\\n\\n'\n  + '類別:    ' + fCategory + '\\n'\n  + '訊息:\\n' + fMsg + '\\n\\n'\n  + '聯絡信箱: ' + (fEmail || '未提供') + '\\n'\n  + 'App 版本: ' + fAppName + ' v' + fAppVersion + '\\n'\n  + '平台:    ' + fPlatform + ' ' + fOsVersion + '\\n'\n  + '裝置:    ' + fDeviceModel + '\\n'\n  + '來源頁面: ' + fSourcePage + '\\n'\n  + '附圖:    ' + (fHasImages === 'true' ? 'Yes' : 'No') + '\\n'\n  + '時間:    ' + fCreatedAt + '\\n'\n  + '\\n--- DEBUG ---\\n'\n  + JSON.stringify(d);\n\nreturn [{ json: { emailSubject: subject, emailBody: body } }];"
      },
      "id": "c1a2b3d4-e5f6-7890-a1b2-c3d4e5f60002",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@qoryva.com",
        "toEmail": "admin@qoryva.com",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "c1a2b3d4-e5f6-7890-a1b2-c3d4e5f60003",
      "name": "Send Feedback Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Format Email", "type": "main", "index": 0}]]
    },
    "Format Email": {
      "main": [[{"node": "Send Feedback Email", "type": "main", "index": 0}]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
